[submodule "vendor/cmark-gfm"]
	path = vendor/cmark-gfm
	url = https://github.com/github/cmark-gfm.git
[submodule "vendor/chez-srfi"]
	path = vendor/chez-srfi
	url = https://github.com/arcfide/chez-srfi.git
