[submodule "vendor/cmark-gfm"]
	path = vendor/cmark-gfm
	url = https://github.com/github/cmark-gfm.git
[submodule "vendor/chez-srfi"]
	path = vendor/chez-srfi
	url = https://github.com/arcfide/chez-srfi.git
[submodule "vendor/wak-sxml-tools"]
	path = vendor/wak-sxml-tools
	url = https://gitlab.com/wak/wak-sxml-tools.git
[submodule "vendor/wak-common"]
	path = vendor/wak-common
	url = https://gitlab.com/wak/wak-common.git
